.StartPageEmployeesHeader {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    padding-left: 8px;
    padding-top: 10px;
}

.allWorkers {
    display: flex;
    gap: 0.5rem;
}
